@charset "utf-8";
/* roboto-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  /*font-family: 'Roboto';*/
  font-family: Quicksand;
  font-style: normal;
  font-weight: 500;
   src: url(fonts/Quicksand/Quicksand-VariableFont_wght.ttf) format('truetype'),
}